---
import BlogPostPreview from "../components/BlogPostPreview.astro";
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Example Blog";
const description = "The perfect starter for your perfect blog.";
const permalink = "https://example.com/";

let allPosts = await Astro.glob("./posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<BaseLayout {title} {description} {permalink}>
  <Container>
    <h1 class="latest">{title}</h1>
    <p>{description}</p>
    {allPosts.map((post) => <BlogPostPreview post={post} />)}
  </Container>
</BaseLayout>
